# Ignore all files in the valo folder (if you don’t want to commit them)
valo/*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore node_modules (for JavaScript/Node.js projects)
node_modules/

# Ignore virtual environments
venv/
.env

# Ignore compiled code (e.g., Java bytecode)
*.class



# Ignore IDE settings (VSCode, JetBrains, etc.)
.vscode/
.idea/
